<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="KilargoSoap"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="KilargoSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://54.213.22.112/kilargo/Kilargo.asmx" binding="basicHttpBinding" bindingConfiguration="KilargoSoap" contract="KilargoServices.KilargoSoap" name="KilargoSoap"/>
            <endpoint address="http://54.213.22.112/kilargo/Kilargo.asmx" binding="customBinding" bindingConfiguration="KilargoSoap12" contract="KilargoServices.KilargoSoap" name="KilargoSoap12"/>
        </client>
    </system.serviceModel>
</configuration>
